* {
  box-sizing: border-box;
  font-family: "Abril Fatface", cursive;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./media/mi-vecino-totoro_2560x1600_xtrafondos.com.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  a {
    position: absolute;
    align-self: flex-end;
    bottom: 0;
    .totoro-img {
      align-self: flex-end;
      height: 200px;
      width: 200px;
      &:hover {
        background-image: url("./media/drop.svg");
        background-size: 7%;
        border-radius: 50%;
      }
    }
  }

  .header__title {
    font-size: 80px;
    font-weight: lighter;
    color: #fdf7df;
    text-shadow: 2px 2px 4px rgb(112, 110, 110);
    &:hover {
      color: darkgoldenrod;
    }
  }

  .boardGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;

    table {
      width: 40vw;
      height: 200px;
      border: none;
    }

    .boton {
      font-size: 25px;
      height: 50px;
      width: 270px;
      background-color: #fdfeee;
      padding: 5px;
      border-radius: 15px;
      &:hover {
        background-color: darkgoldenrod;
      }
    }

    td {
      width: 5px;
      height: 15px;
      background-color: #ccc9bef5;
      border: black;
      border-radius: 5px;

      &:hover {
        background-color: darkgoldenrod;
      }
    }
  }

  .copyright {
    background-color: #fdf7df;
    height: 60px;
    width: 100vw;
    opacity: 0.07;
    display: flex;
    justify-content: center;
    align-items: center;

    .copyright__title {
      opacity: 1;
      font-size: 18px;
      height: 15px;
      color: black;
    }
  }
}
